@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* ROOT class to declare globals */
:root
{
    --cafe-noir: #422701;
    --trunk: #6B403C;
    --timber: #7A5350;
    --mint-green: #ADEBB3;
    --cream: #FDFBD4;
    --coral-pink: #FF857A;
    --gray: #808080;
}

/* to remove the padding/gaps */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    background-color: var(--cream);
}

.main-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.logo-container {
    z-index: 10;
    position: absolute;
    top: 20px;
    left: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--cream);
}

.logo-container img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.logo-container h3 {
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0;
}

/* left side = image */
.image-container {
    max-width: 80%;
    height: 100vh;
    /* display: flex;
    justify-content: flex-start;
    align-items: center; */
    flex: 1;
    overflow: hidden;
    /* position:relative; */
}

.login{
    padding: 30px 30px 30px 30px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left center;
}

.sign-up {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100vh;
}

.sign-up form {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 60%;
    background: var(--cream);
    padding: 2rem
}

.sign-up input[type="name"],
.sign-up input[type="email"],
.sign-up input[type="submit"] {
    padding: 10px;
    font-size: 1rem;
}