{% extends "auth_base.html"%}
{% block title %} Sign Up {% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}    
            </ul>
        {% endif %}
    {% endwith%}    

    <div class="main-container">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='images/WebApp LOGO.png') }}"alt="Logo" class="logo img-fluid d-block mx-auto rounded-circle">
            <h3 class="offcanvas-title" id="offcanvasLabel">LeafList</h3>
        </div>

        <div class="image-container">
            <img src="{{ url_for('static', filename='images/leaves.png') }}" alt="">
        </div>

        <div class="sign-up">
            <form method="POST" action="#">
                <h2>Create an account</h2>
                <p class="login-text">
                    Already have an account?
                    <a href="{{ url_for('login') }}">Log in</a>
                </p>
                
                <div class="mb-3">
                    <!-- <label for="InputFullName" class="form-label">Full name</label> -->
                    <input type="email" class="form-control" id="inputName" placeholder="Full name">
                </div>
                <div class="mb-3">
                    <!-- <label for="InputEmail" class="form-label">Email address</label> -->
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <!-- <label for="InputPassword" class="form-label">Password</label> -->
                    <input type="password" class="form-control" id="inputPassword" placeholder="Enter your password">
                </div>

                <div class="mb-3">
                    <!-- <label for="InputPassword" class="form-label">Password</label> -->
                    <input type="password" class="form-control" id="inputPassword" placeholder="Re-enter your password">
                </div>
                
                <button type="submit" class="btn btn-primary">Create account</button>
            </form>
        </div>
    </div>

{% endblock %}