

@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* base.html */

.link-light {
    color: #d9d9d9 !important; 
}

.custom {
    background-color: #422701;
    max-width: 293px;
    height: 1142px;
    flex-shrink: 0;
}

.suse-mono-title {
    font-family: "SUSE Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 40px;
    font-style: normal;
    color: #422701;
    text-align: center;
    margin: 1vw;
    padding: 1rem;
}

.offcanvas-title {
    margin-top: 2vw;
    margin-left: 2rem;

}
.offcanvas.custom h5,
.offcanvas.custom a,
.offcanvas.custom a:link,
.offcanvas.custom a:visited
 {
    display: block;
    width: 100%;
    padding: 0.5rem 0.5rem;
    color: #d9d9d9 !important;    
    text-decoration: none;        
    font-size: 1rem;

    
}

.offcanvas.custom .offcanvas-body a:hover {
  background-color: rgba(255,255,255,0.1);
  border-radius: 5px;
  text-decoration: none;
}

.offcanvas.custom button {   
    display: block;
    width: 100%;
    padding: 0.5rem 0.5rem;
    color: #d9d9d9 !important;
    background: none;
    border: none;
    text-align: left;
    font-size: 1rem;

}

.offcanvas.custom .offcanvas-body button:hover {
  background-color: rgba(255,255,255,0.1);
  border-radius: 5px;
}

.offcanvas.custom .offcanvas-body {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;  

}

/* .lexend-<uniquifier> {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
