

@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* base.html */

.link-light {
    color: #d9d9d9 !important; 
}

.custom {
    background-color: #422701;
    max-width: 293px;
    height: 1142px;
    flex-shrink: 0;
}

.suse-mono-title {
    font-family: "SUSE Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 40px;
    font-style: normal;
    color: #422701;
    text-align: center;
    margin: 1vw;
}

.offcanvas-title {
    margin-top: 2vw;
    margin-left: 2rem;

}

.offcanvas-body {
    display: block;
    padding: 0.75rem 3rem;        
    margin-bottom: 1rem;        
    color: #d9d9d9 !important;    
    text-decoration: none;        
    
}

.offcanvas-body .text-body {
    padding: 1rem 0rem;  
    
}

/* .lexend-<uniquifier> {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
